[submodule "lib/pyutils"]
	path = lib/pyutils
	url = https://github.com/IvanoBilenchi/pyutils.git
[submodule "lib/owltool"]
	path = lib/owltool
	url = https://github.com/sisinflab-swot/owltool.git
[submodule "lib/android-launcher"]
	path = lib/android-launcher
	url = https://github.com/sisinflab-swot/evowluator-android-launcher.git
